.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
    margin-top: 2rem;
}

h1 {
    padding-top: 7%;
    padding-bottom: 3%;
}

button[type='submit'] {
    margin-top: 2rem;
    margin-left: 90%;
}